{% extends 'base.html.twig' %}

{% block title %}Edit Blog{% endblock %}

{% block content %}

<div class="container animate__animated animate__fadeIn">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5">
            <div class="card">
                <div class="card-header text-center" style="background-color: #e3f2fd;">Nueva Entrada de Blog</div>

                <div class="card-body">
                    
                    {{ include('blog/_form.html.twig', {'button_label': 'Editar'}) }}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
