{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block content %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="display-4 my-4 py-2 text-center text-info">Bienveindo al Blog de Viajeros</div>

				<div class="row justify-content-center">
					<img src="{{ asset('images/home.jpg') }}" class="img-responsive w-75 my-4 border border-muted rounded shadow" />
				</div>

				<div class="text-primary my-4 py-1" style="text-indent: 20px; font-size: 18px;">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque. Proin nibh nisl condimentum id venenatis a condimentum vitae sapien. Vel quam elementum pulvinar etiam non quam lacus suspendisse. Facilisis gravida neque convallis a cras semper. Elementum curabitur vitae nunc sed velit dignissim sodales ut eu. Enim ut sem viverra aliquet eget sit amet. Velit euismod in pellentesque massa placerat duis. Fermentum posuere urna nec tincidunt praesent semper feugiat. Quis vel eros donec ac odio tempor orci. Aenean vel elit scelerisque mauris pellentesque pulvinar.
				</div>
				<div class="text-primary my-4 py-1" style="text-indent: 20px; font-size: 18px;">
					A pellentesque sit amet porttitor. Egestas dui id ornare arcu. Sed cras ornare arcu dui vivamus arcu felis bibendum. Egestas pretium aenean pharetra magna ac. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Ac turpis egestas integer eget aliquet. Vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Morbi tristique senectus et netus et malesuada. Sed adipiscing diam donec adipiscing tristique risus nec feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames . Id velit ut tortor pretium viverra suspendisse. Non tellus orci ac auctor augue.
				</div>
			</div>	
		</div>
	</div>

{% endblock %}